<h1>Select city</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">City Name</th>
    </tr>
  </thead>
  <tbody>
    <% cities.forEach(city => { %>
    <tr>
      <td><a href=<%= `/predictions/${city.id}` %>> <%=city.name%> </a></td>
    </tr>

    <% }); %>
  </tbody>
</table>

<a href="http://localhost:3000/neural-model/predict" class="btn btn-primary"> Force make predictions</a>